.prices-container {
    display: flex;
    justify-content: center;
}
.prices-st {
    display: flex;
    justify-content: center;
}
.prices-title {
    font-size: 45px;
    display: flex;
    padding: 10px;
    font-weight: bold;
    justify-content: center;
    font-family: "Outfit", sans-serif;
}
.prices-description {
    font-size: 20px;
    color:#767575;
    font-weight:bold;
    font-family: "Inter", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
