.testimonial-st {
     display: flex;
     justify-content: left;
     margin-left: 60px;
     margin-bottom: 15px;
     margin-top:20px;
}
.testimonial-title {
  font-size: 45px;
  display: flex;
  margin-left: 60px;
  margin-bottom: 15px;
  font-weight: bold;
  justify-content: left;
  font-family: "Outfit", sans-serif;
}
.testimonial-description {
  font-size: 20px;
  color:#767575;
  font-weight:bold;
  margin-left: 60px;
  font-family: "Inter", sans-serif;
  text-align: left;
  display: flex;
  justify-content: left;
  margin-bottom: 30px;
}
.client-testimonials-slider {
    width: fit-content;
    height: 400px;
    display:flex;
  }
  
  .client-testimonials-slider .client-testimonial {
    transition: transform 0.5s ease-in-out;
  }
  
  .client-testimonials-slider .client-testimonial:last-child {
    margin-right: 0;
    transition: transform 2s linear;
  }
  
  @keyframes testimonialSlide {
    0%, -100%{
      transform: translateX(-100%); 
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .client-testimonials-slider.animate .client-testimonial {
    animation: testimonialSlide 10s infinite;
  }
  
  