/* TestimonialSlider.css */
.client-testimonials-slider {
    width: fit-content;
    height: 400px;
    display:flex;
  }
  
  .client-testimonials-slider .client-testimonial {
    transition: transform 0.5s ease-in-out;
  }
  
  .client-testimonials-slider .client-testimonial:last-child {
    margin-right: 0;
    transition: transform 2s linear;
  }
  
  @keyframes testimonialSlide {
    0%, -100%{
      transform: translateX(-100%); /* Change to move from right to left */
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .client-testimonials-slider.animate .client-testimonial {
    animation: testimonialSlide 10s infinite;
  }
  
  