@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
body {
    background: linear-gradient(to bottom, #fde4d7, #ffffff, #fde4d7);
    margin: 0;
    padding: 0;
    width: 100vw;
  }
.highlighted {
  color: #fe8162;
}