@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
body {
    background: linear-gradient(to bottom, #fde4d7, #ffffff, #fde4d7);
    margin: 0;
    padding: 0;
    width: 100vw;
  }
.highlighted {
  color: #fe8162;
}
*{
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 0.6vw;
}

::-webkit-scrollbar-track{
  background: linear-gradient(to bottom, #fde4d7, #ffffff, #fde4d7);
  border: 5pxs;
}

::-webkit-scrollbar-thumb{
  background: #fe8162;
  height: 5vh;
}

::-webkit-scrollbar-thumb:hover{
  background: #fe8162;
  height: 5vh;
 
}